.v-content {
	background: black;
	height: 500px;
	position: relative;;
}

.v-section2 {
	background: #f2f2f2;
	padding: 100px 0;

}

.v-section3 {
	background: white;
	padding: 100px 0;

}

.v-content .v-content-inner {
	width: 50%;
	position: absolute;;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.v-content-inner > h4 {
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 1.4px;
	color: white;
	text-align: center;
	position: relative;
}

.v-content-inner > p {
	color: white;
	margin-top: 50px;
}

.v-content-inner > h1 {
	color: #fff;
	font-weight: 800;
	letter-spacing: 2px;
	margin-top: 10px;

}

.v-content-inner > h4::after {
	content: "";
	background: #1f7def;
	width: 30%;
	height: 3px;
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translate(-50%, 0);
}

.btn-blue {
	background: #1ec0ed;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 3px;
	border-radius: 30px;
	padding: 17px 34px 17px 34px;
	margin-top: 40px;
}

.v-heading {
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 1.4px;
	color: #6ec1e4;
	text-align: center;
	position: relative;
	font-weight: bold;
	margin: 0 0 50px;

}
.v-heading::after {
	content: "";
	background: #1f7def;
	width: 30%;
	height: 3px;
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translate(-50%, 0);
}

.v-heading-details > h4 {
	color: #6ec1e4;
	font-weight: 600;
	text-align: left;

}

