h1{
	color: red;
}

footer > .footer{
	background: black;
	color: white;
	text-align: center;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	padding: 25px 25px 10px;
	border-bottom: 0.5px solid grey;
}

.navbar .navbar-brand {
	color: white;
}

.navbar-nav .nav-item .nav-link {
	color: white;
}

.navbar-nav .nav-item.active .nav-link {
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
}

.navbar-collapse {
	justify-content: flex-end;;
}

/*Nav scroll*/

.scrolled {
	background: white;
	border-bottom: 0.5px solid blue;
	transition: 1s;
}
.scrolled .navbar-brand {
	color: black;
	transition: 1s;

}

.scrolled .navbar-nav .nav-item .nav-link {
	color: black;
	font-weight: bold;

}

.scrolled  .nav-item.active .nav-link {
	color: #1f7def;
	border-bottom: 2px solid #6ec1e4;
	border-radius: 0;
	padding: 5px;
	font-weight: bold;
	transition: 1s;
}



